body {
    margin: 0;
    padding: 0;
    background: grey;
}
#container {
    margin: 5% auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#err {
    height: 30px;
    display: flex;
    justify-content: center;
    color: darkred;
}
#cityBox {

    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 2%;
}


#click:hover {
    color: lightpink;
}

#click {
    border: none;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    outline: none;

}

#click > i {
    font-size: 30px;
}

#citySearch {

    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 240px;
    padding: 0 6px;
    font-weight: bold;
}

#dataBox > p {
   color: black;
   border: solid 1px;
   background-color: #bbbbbb;
   padding: 7px 4px ;
   margin: 0;
}

#dataBox > p:hover {
	background-color: #dddddd;
}

